.index-item {
    display: flex;
    flex-direction: row;
}

* {
    text-decoration: none;
    color: black;
}

.image img {
    min-width: 300px;
    max-height: 200px;
    max-width: 300px;
    height: fit-content;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 5px;
 }

 .groups-on-groups {
    color: teal;
    text-decoration: underline;
    cursor: pointer;
 }

 .events-on-groups {
    color: gray;
    text-decoration: none;
 }
